body {
    background-color: #f8f9fa;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #94d2ff;
    border-radius: 12px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    height: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    min-height: 200px;
    max-height: 250px;
    text-align: center;
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 14px;
    color: #666;
}

.empty-state {
    margin-top: 50px;
    text-align: center;
}

.btn-light {
    border: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.btn-light i {
    font-size: 18px;
}
